/* Review */

.post-review {
    color: white;
    background-color: gray;
    border: 2px solid black;
    box-shadow: 3px 4px 5px black;
    height: 20px;
    width: 100px
}


.review-date {
    font-size: 15px
}

.review-comment {
    width: 200px;
    height: 100px;
    margin-left: 10px;
    resize: none;
    margin-right: 10px;
}

.custom-menu-item {
    box-shadow: 5px 4px 5px black;
    background-color: gray;
    color: white
}



/* Star Rating */

.review-box-title {
    display: flex;
    justify-content: center;
}

.rating-input {
    display: flex;
    margin-right: 4px;
    justify-content: center;
}


.rating-input .filled {
    color: saddlebrown;
}

.rating-input .empty {
    color: burlywood;
}

.review-sub {
    display: flex;
    justify-content: center;

}

.review-sub button {
    background-color: red;
    color: white;
}
