.spot-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
    margin-right: 10px;
}

.spot-grid img {
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
}

.spot-thumbnail {
    width: 100%;
    border-radius: 20px;
}

.pics {
    width: 100%;
    height: 250px;
}

.detail-container {
    text-decoration: none;
}

.spot-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

div.city-state {
    flex: 1;
}

.rating {
    display: flex;
    align-items: center;
}

.rating i.fa-star {
    margin-left: 5px;
}

.cost {
    margin-top: 20px;
}
