.hidden {
    display: none
}



.logo {
    width: 150px;
    height: auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.navigation-container img {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.navigation-container .profile-button {
    margin-left: 10px;
    /* Adjust the margin as needed */
}

button.profile {
    border-radius: 200px;
    height: 30px;
    width: 80px
}

.fas {
    width: 50px
}

.pButton {
    position: relative;
}

.profile {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    font-size: 20px;
    margin-left: 0.5rem;
    right: 20px;
}


.profile-dropdown {
    position: absolute;
    transform: translateX(-40%);
    top: calc(100% + 5px);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;

}

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown li {
    margin-bottom: 5px;
    color: #333;

}

.profile-dropdown button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.profile-dropdown button:hover {
    color: #000;
    text-decoration: none;
}


.nav{
    display: flex;
    align-items: center;

}

.Create {
    margin-right: 10px;
}
